.imag{
  width: 250px;
 
  object-fit: contain;
  border-width: 2px;
  

}
.in{
  display: inline-block;

}
.input-box{
  font-size:20px;
  padding:5px;
  margin-bottom: 15px;
}

.ha{
  border-width: 5px;
  border-color: black;
  
}
.container{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  margin-right: 15px;
  
  
}



.channel-image{
  display: inline-block;
  width: 83px;

}
.texts{
  display: inline-block;
  width: 163px;
}