.imag{
  width: 250px;
  height:200px;
  object-fit: contain;
  border-width: 2px;
  object-position: top;
  border-style: solid;
  border-color: black;
  margin-right: 15px;

}
.in{
  display: inline-block;

}
.input-box{
  font-size:20px;
  padding:5px;
  margin-bottom: 15px;
}

.ha{
  border-width: 5px;
  border-color: black;
  
}
.container{
  display: inline-block;
}