.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  padding-top: 8px;
  padding-bottom: 10px;
  
  

}
.left-section{
  display: flex;
  align-items: center;
  /*background-color: aqua;
  
  width: 150px; 
  
  its just width that is fixed no need to remove it but we have loaded a img and setted it's height so it never enlarges so this width has no function hear after if you have doubt the un take the comment out and try it your self ok*/
}
.middle-section{
  display: flex;
  align-items: center;

  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;

  
  
}
.right-section{
  background-color: brown;
  width:200px;
}

.hamburger-icon{
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.youtube-icon{
  height: 20px;
}

.search-button{
  margin-left: -1px;

  border-radius: 0%;
  margin-top: 3px;
  height: 40px;
  width: 60px;
  background-color: rgb(248, 248, 248);
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 1px 2px 3px rgba(0,0, 0,0.05);
  margin-right: 15px;
}
.voice-button{
  margin-top: 3px;

  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height:40px;
  width: 40px;
  border: none;
}
.input-box{
  height: 35px;
  flex:1;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(248, 248, 248);
  border-radius: 0%;
  box-shadow: inset 1px 2px 3px rgba(0,0, 0,0.05);
  margin-top: 3px;
  margin-right: 0px;

}
.input-box::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
  
}
.search-icon{
  width:25px;
  margin-top: 2px;
}
.voice-icon{
  margin-top: 2px;
  width: 25px;
}