.imag{
  width: 100%;
 
  object-fit: contain;
  border-width: 2px;
  margin-bottom: 5px;
  

}
.in{
  display: inline-block;

}
 

.ha{
  border-width: 5px;
  border-color: black;
  
}

.full-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 30px;

}

.video-info-grid{
  display: grid;
  grid-template-columns: 60px 1fr;
}

.channel-image{
  
  
  vertical-align: top;
  

}

.texts{

 
  width: 1fr;
}
.channel-img{
  
  width: 50px;
  border-radius: 90px;
}
.parag{
  
  font-family: Roboto,Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0px;
}
